<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Management</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="container">
        <h1>Product Management System</h1>
        <a href="/" class="nav-link">Home</a>
      </div>
    </nav>

    <main class="container"><%- body %></main>

    <footer style="display: flex; flex-direction: row; justify-content: center">
      <p>Họ tên: Nguyễn Huỳnh Thế Bảo</p>
      <p>MSSV: 22690761</p>
    </footer>
  </body>
</html>
